<!DOCTYPE html>
<html lang="en">
<head>
  <title>llm web test</title>
  <link rel="stylesheet" href="statics/chatbot.css"> 
</head>

<body>
    <p class="header-text"><b style="font-size: 200%;">Chatbot test </b> by RayZhang & Doris</p>

    <div class="conversation-history-box">
        <textarea id="textarea-history-text" type="scrolling-textbox" placeholder="conversation history here">{{history_text}}</textarea>
    </div>

    <div class="user-input-box">
        <form style="width: 100%; height: 100%;">
            <label class="input-box-label" for="textarea-user-input">user input</label>
            <textarea id="textarea-user-input" type="scrolling-textbox" class="input-text-area" placeholder="user input here" onkeydown="input_text_enter(event)">{{user_input}}</textarea>
            <button type="button" class="send-button" onclick="click_send()">send</button>
        </form>
    </div>

    <script>
        var history_list = [];
        var llm_response = {"response":""}
        var dom_textarea_history_text = document.getElementById("textarea-history-text");
        var dom_textarea_user_input = document.getElementById("textarea-user-input");
        
        function click_send() {
            // get text response from llm server
            data = {
                "query_string":dom_textarea_user_input.value,
                "system":""
            };
            rsp = llmQuery("post", "http://www.rayzhang.site:6006/app_tts/query", data);
            console.log("rsp = ",rsp);
            // update text windows
            this.dom_textarea_history_text.value = this.dom_textarea_history_text.value + ("\n\nuser:" + this.dom_textarea_user_input.value.trim());
            this.dom_textarea_user_input.value="";
            this.dom_textarea_history_text.scrollTop = this.dom_textarea_history_text.scrollHeight;
        }
        
        function input_text_enter(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                click_send();
                this.dom_textarea_user_input.value="";
            }
        }
        
        function llmQuery(method, url, data) {
            var xhr = new XMLHttpRequest();
            console.log("restful url = ",url);
            xhr.open(method, url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                var llm_response = JSON.parse(xhr.responseText);
                handleLlmResponse(llm_response); // 根据返回的response处理响应
                }
            };
            xhr.send(JSON.stringify(data));
        }

        function handleLlmResponse(llm_response) {
            // 根据返回的response处理响应
            console.log(llm_response.response);
            this.dom_textarea_history_text.value = this.dom_textarea_history_text.value + ("\n\nassistant:" + llm_response.response);
            this.dom_textarea_history_text.scrollTop = this.dom_textarea_history_text.scrollHeight;

            // get voice，如果play voice == false，那么就不需要tts过程
            if (llm_response.play_voice == false) {
                var pass = 1; 
            } else {
                tts_query = {"query_string": llm_response.response}
                rsp = ttsQuery("post", "http://www.rayzhang.site:6006/app_tts/tts", tts_query);
            }
        }

        function ttsQuery(method, url, data) {
            var xhr_tts = new XMLHttpRequest();
            console.log("tts url = ",url);
            console.log("tts data = ", data);
            xhr_tts.open(method, url, true);
            xhr_tts.setRequestHeader("Content-Type", "application/json");
            xhr_tts.onreadystatechange = function () {
                if (xhr_tts.readyState === 4 && xhr_tts.status === 200) {
                var voice_file_path = JSON.parse(xhr_tts.responseText);
                console.log("voice file path: ", voice_file_path);
                audio_url = 'http://www.rayzhang.site:6006/' + voice_file_path.wav_file_path;
                console.log("audio url:", audio_url)
                var audio = new Audio(audio_url);
                audio.play();
                }
            };
            xhr_tts.send(JSON.stringify(data));
        }

        
        

      </script>

</body>
</html>
